<section class="hero">
  <div class="hero-body">
    <p class="title">
      All Available Characters
    </p>
    <p class="subtitle">
       {{#each characters as |char|}}
            <p>{{char.name}}</p>
            <figure class="box tile is-child">
            <img src="./assets/img/{{char.image}}.jpg"/>
            </figure>
        {{/each}}
    </p>
  </div>
</section>