<section class="hero">
  <div class="hero-body">
    <p class="title">
      All Available Characters
    </p>
    <div class="tile is-ancestor">
      {{#each characters as |char|}}
      <div class="tile is-parent">
        <article class="tile is-child" id="parent-container">
          <p class="title">{{char.name}}</p>
          {{!-- <p class="subtitle">What is up?</p> --}}
          <figure>
            <img src="./assets/img/{{char.image}}.jpg" />
          </figure>
          <p class="title is-4">{{char.rarity}}</p>
        </article>
      </div>
      {{/each}}
    </div>
  </div>
</section>