<div></div>
<form class="login-page" id="login">
  <br>
  <div></div>
  <br>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" id="user-login-email" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" id="user-login-password" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-warning" type="submit">
        Login
      </button>
      </p>
      <br>
      <h4>Don't have an account? <a href="/signup">Sign up!</a></h4>
  </div>
</form>
<script src="./js/login.js"></script>