<div class="section">
  <h2 class="title">Coming soon!</h2>
</div>
<section class="section is-medium">
  <h1 class="title">Win new characters!</h1>
  <h2 class="subtitle">
    Roll for a chance to unlock <strong>new <i>and</i> ultra rare</strong> Miku characters!
  </h2>
  <button class="button">Daily Free Roll</button>
  <div></div>
  <br>
  <button class="button">10 Roll</button>
  <button class="button">Paid Roll</button>
</section>
{{!-- TODO insert logic --}}
<script></script>