<form class="signup-page" id="signup">
    <br>
  <div></div>
  <br>
    <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input user-signup-name" type="Name" placeholder="John Doe">
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input user-signup-email" type="email" placeholder="e.g user@email.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input user-signup-password" type="password" placeholder="Enter A Strong Password">
    </div>
  </div>
  <button class="button submit is-warning" type="submit">Signup!</button>
</form>
<script src="./js/signup.js"></script>
