
#profile-icon {
    border-radius: 16px;
    background-color: white;
    width: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#side-bar {
    padding-left: 2%;
}

#header-section {
    padding-bottom: 0;
    height: 20%;
}

#login, #signup {
    padding-left: 6%;
}


#home-page {
    padding-top: 3%;
    padding-left: 26%;
}

#visit-page {
    padding-top: 2%;
}

#visit-image {
    border-radius: 30px;
    padding: 6%;
}

#miku-details {
    padding-left: 8%;
}

#parent-container {
    flex-wrap: wrap;
    flex-direction: column;
}